<?xml version="1.0" ?>
<launch>

<!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="world" default="$(find air_drone)/world/env_and_balls.world"/>
  <!-- <arg name="world" value="$(find air_drone)/worlds/default.world"/> -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    
    <arg name="world_name" value="$(arg world)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find air_drone)/urdf/drone.urdf.xacro'"/>  

<node name="drone_env" pkg="air_drone" type="drone_env.py" output="screen"/>
<!-- <node name="keyboard_teleop" pkg="air_drone" type="checker.py" output="screen"/> -->


<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" 
output="screen" args="-urdf -model drone -param robot_description -z 0.5"/>


<!--                RVIZ PART            -->
  <!-- <arg name="rvizconfig" default="$(find air_drone)/rviz/drone.rviz" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/> -->

</launch>

